<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
    <!--Wenn Angemeldet-->
    {% if current_user.is_authenticated %}
    <header class="header dashboard">
        <h1>Rezeptwelt.de</h1>
        <form method="get" action="{{ url_for('dashboard.search') }}" class="search-form">
            <input type="text" name="query" placeholder="Rezept suchen..." value="{{ query or '' }}" required>
            {% if query %}
            <a href="{{ url_for('dashboard.search') }}" title="Suche löschen" class="search-clear">×</a>
            {% endif %}
        </form>
    </header>


    <h3>Alle Rezepte:</h3>
    <div class="container-rezepte">
        <!-- Display if search -->
        {% if query %}
        {% if rezepte %}
        {% for rezept in rezepte %}
        <a class="recipe-details" href="{{ url_for('dashboard.recipe_details', id=rezept.id) }}">
            <div class="card-rezept">
                <img class="card-image" src="{{ url_for('static', filename=rezept.image_path) }}"
                     alt="{{ rezept.title }}">
                <div class="card-title">{{ rezept.title }}</div>
            </div>
        </a>
        {% endfor %}
        {% else %}
        <p>Keine Rezepte gefunden.</p>
        {% endif %}

        <!-- Display if no search -->
        {% else %}
        {% for rezept in rezepte %}
        <a class="recipe-details" href="{{ url_for('dashboard.recipe_details', id=rezept.id) }}">
            <div class="card-rezept">
                <img class="card-image" src="{{ url_for('static', filename=rezept.image_path) }}"
                     alt="{{ rezept.title }}">
                <div class="card-title">{{ rezept.title }}</div>
            </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>
    <footer class="footer dashboard">
        <a href="/" class="linkbutton dashboard">Home</a>
        <a href="/recipe/create" class="linkbutton hinzufügen">+</a>
        <a href="/profile" class="linkbutton dashboard">Mein Profil</a>
    </footer>

    <!-- If not authenticated -->
    {% else %}
    <header class="header dashboard">
        <h1>Rezeptwelt.de</h1>
        <a href="/login" class="linkbutton dashboard">Anmelden</a>
    </header>

    {% endif %}


</div>
</body>

