<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
    <header class="header dashboard">
        <h1>Rezeptwelt.de</h1>
        {% if current_user.is_authenticated %}
        <a href="/recipe" class="linkbutton anmelden">Suchen</a>
        {% else %}
        <a href="/login" class="linkbutton anmelden">Anmelden</a>
        {% endif %}

    </header>


    <footer class="footer dashboard">
        <a href="{{ url_for('dashboard.profil') }}" class="h4">Mein Profil</a>
        <a href="/create" class="linkbutton hinzufügen">+</a>

    </footer>
</div>
</body>

