<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mein Profil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
<header class="header dashboard">
    <h1 class="">{{ user.username }}</h1>
    <a href="{{ url_for('dashboard.profil_bearbeiten') }}" class="linkbutton dashboard">Profil bearbeiten</a>

</header>

    <h3>ToDo: Steckbrief, Profilbild</h3>
    <div style="display: flex; gap: 1rem; justify-content: center;">
    <div style="text-align: center; min-width: 80px;">
        <h3>Beiträge</h3>
        <h3><h3>{{ anzahl_rezepte }}</h3>
</h3>
    </div>
    <div style="text-align: center; min-width: 80px;">
        <h3>Follower</h3>
        <h3>XX</h3>
    </div>
    <div style="text-align: center; min-width: 80px;">
        <h3>Gefolgt</h3>
        <h3>XX</h3>
    </div>
</div>
 <h2>Meine Rezepte</h2>
 <div class="container-rezepte">
    {% for rezept in rezepte %}
             <a class="recipe-details" href="{{ url_for('dashboard.recipe_details', id=rezept.id) }}">
    <div class="card-rezept">
        <img class="card-image" src="{{ url_for('static', filename=rezept.image_path) }}" alt="{{ rezept.title }}">
        <div class="card-title">{{ rezept.title }}</div>
    </div>
             </a>
    {% endfor %}
</div>
<footer class="footer dashboard">
        <a href="/dashboard" class="linkbutton dashboard">Home</a>
        <a href="/recipe/create" class="linkbutton hinzufügen">+</a>
        <a href="/profile" class="linkbutton dashboard">Mein Profil</a>
    </footer>
</div>
</body>
</html>

